@model List<Model.BL.UserGrid>
@{
    ViewBag.Title = "Users";
}
<h2 class="page-header">@ViewBag.Title</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>                
                <td>@m.Name</td>
                <td>@m.LastName</td>
                <td>@m.Email</td>
                <td>@m.Role</td>
                <td>                
                    @*@if (User.HasPermission("Per1"))
                    {*@
                        <a href="~/User/InsRolUsuario?userId=@m.Id">Administrar roles</a>
                    @*}*@
                    
                </td>                
            </tr>
        }
    </tbody>
</table>