@using Model.BL
@{
    var pageName = ViewContext.RouteData.Values["controller"].ToString();
    var viewName = Path.GetFileNameWithoutExtension(VirtualPath);
}
@section BreadCrumb
{
    <li class="crumb-active">
        <a href="dashboard.html">Dashboard</a>
    </li>
    <li class="crumb-icon">
        <a href="dashboard.html">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </li>
    <li class="crumb-link">
        <a href="index.html">Datos básicos</a>
    </li>
    <li class="crumb-trail">Tipos de datos</li>
}
@section BreadCrumbPanel{}

<!-- begin: .tray-center -->
<!--INICIO BODY REAL-->
<div id="@viewName" class="tray tray-center p5 va-t posr">

    <!-- Scripts base de la página -->    
    <script src="~/Scripts/personal/inicioPorPagina.js"></script>
    <script src="~/Areas/ADMIN/Scripts/Tlistas/Index.js"></script>

    <!-- Template de botones departamentos -->
    <script id="actionBotonesDep" type="text/x-kendo-template">
        <div class="text-center">
            <a data-modal="modal-lg" href='@Url.Action("UpdTjornada", "Tlistas", new { Area = "ADMIN" })?id=#=data.Id#' class="btn btn-sm btn-primary m-2" style="width: 60px;">Editar</a>
            <a onclick="Index.validarEliminacion('#=data.Id#','#=data.Nombre#')" class="btn btn-sm btn-alert m-2" style="width: 60px;">Eliminar</a>
        </div>
    </script>

    <!-- Template de botones municipios -->
    <script id="actionBotonesMun" type="text/x-kendo-template">
        <div class="text-center">
            <a data-modal="modal-lg" href='@Url.Action("UpdTjornada", "Tlistas", new { Area = "ADMIN" })?id=#=data.Id#' class="btn btn-sm btn-primary m-2" style="width: 60px;">Editar</a>
            <a onclick="Index.validarEliminacion('#=data.Id#','#=data.Nombre#')" class="btn btn-sm btn-alert m-2" style="width: 60px;">Eliminar</a>
        </div>
    </script>    

    <div class="row" id="spy1">
        <div class="col-md-6">

            <div class="panel panel-visible" id="spy2">
                <div class="panel-heading">
                    <div class="panel-title hidden-xs">
                        <span class="glyphicon glyphicon-tasks"></span>Departamentos
                        <div class="alineacionVertical pull-right">

                            <a onclick="Index.clicBuscarDatosCo()"
                               class="btn btn-primary " style="width: 90px;"><span class="fa fa-plus pr5"></span>Importar</a>

                            <a onclick="Index.datosAbiertosDepartamentos()"
                               class="btn btn-success " style="width: 200px;"><span class="fa fa-angle-down pr5"></span>Importar Departamentos</a>

                        </div>
                    </div>
                </div>

                <div class="panel-body pn" id="divLista">
                    @(Html.Kendo().Grid<Tdepartamentos>()
                            .Name("tdepartamentosGrid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.Nombre)
                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                    .Width(200);
                                columns.Bound(p => p.Cod)
                                   .Width(100);

                                columns.Bound(p => p.Id)
                                        .Title("Acción")
                                        .Width(180)
                                        .ClientTemplate("#=Index.actionBotonesDep(data)#")
                                        .Filterable(false);
                            })

                        .Pageable(p => p.Refresh(true).PageSizes(true)
                        .Messages(m => m.ItemsPerPage("items por página"))
                        )
                        .Scrollable(s => s.Height("auto"))
                        .AutoBind(true)
                        .Sortable(s => s.Enabled(true))
                        .Filterable(ftb => ftb.Mode(GridFilterMode.Row | GridFilterMode.Menu))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Read(read => read.Action("GetListTdepartamentos", "Tlistas", new { Area = "ADMIN" })
                            )
                        .Events(e => e.Error("handleOnErrorModelState"))
                        .ServerOperation(false)
                        ).Events(events => events.DataBound("handleAjaxModal"))

                    )

                </div>

            </div>
        </div>


        <div class="col-md-6">

            <div class="panel panel-visible" id="spy2">
                <div class="panel-heading">
                    <div class="panel-title hidden-xs">
                        <span class="glyphicon glyphicon-tasks"></span>Municipios
                        <div class="alineacionVertical pull-right">                            
                            <a onclick="Index.datosAbiertosMunicipios()"
                               class="btn btn-success " style="width: 200px;"><span class="fa fa-angle-down pr5"></span>Importar municipios</a>

                        </div>
                    </div>
                </div>

                <div class="panel-body pn" id="divLista">
                    @(Html.Kendo().Grid<Tmunicipios>()
                            .Name("tmunicipiosGrid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.NombreDepartamento)
                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                    .Width(140);
                                columns.Bound(p => p.Nombre)
                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                    .Width(180);
                                columns.Bound(p => p.Cod)
                                   .Width(90);

                                columns.Bound(p => p.Id)
                                        .Title("Acción")
                                        .Width(200)
                                        .ClientTemplate("#=Index.actionBotonesMun(data)#")
                                        .Filterable(false);
                            })

                        .Pageable(p => p.Refresh(true).PageSizes(true)
                        .Messages(m => m.ItemsPerPage("items por página"))
                        )
                        .Scrollable(s => s.Height("auto"))
                        .AutoBind(true)
                        .Sortable(s => s.Enabled(true))
                        .Filterable(ftb => ftb.Mode(GridFilterMode.Row | GridFilterMode.Menu))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Read(read => read.Action("GetListTmunicipios", "Tlistas", new { Area = "ADMIN" })
                            )
                        .Events(e => e.Error("handleOnErrorModelState"))
                        .ServerOperation(false)
                        ).Events(events => events.DataBound("handleAjaxModal"))

                    )

                </div>

            </div>
        </div>

    </div>
    <!-- Inicialización script de vista -->
    <script>
            @(viewName).init();
    </script>
</div>

<!--FIN BODY REAL-->
<!-- end: .tray-center -->
