<!-- sidebar menu -->

<ul class="nav sidebar-menu">
@if (Request.IsAuthenticated)

{
    //if (UserService.GetRoles("Admin"))
    //if (User.IsInRole("Admin"))
    //{
        <li class="sidebar-label pt20">Administración general</li>
        <li>
            <a class="accordion-toggle AdminInstituciones" href="#">
                <span class="imoon imoon-home"></span>
                <span class="sidebar-title">Establecimientos</span>
                <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
                <li >
                    <a href="@Url.Action("AdminInstituciones", "Instituciones", new {Area = "ADMIN"})">
                        <span class="glyphicons glyphicons-home"></span> Instituciones
                    </a>
                </li>

            </ul>
          
        </li>

        <li class="sidebar-label pt20">Estudiantes</li>
        <li>
            <a class="accordion-toggle Persona Estudiante" href="#">
                <span class="glyphicons glyphicons-parents"></span>
                <span class="sidebar-title">Registro de Estudiantes</span>
                <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
                <li>
                    <a href="@Url.Action("Index", "GenPersona", new {Area = "General"})">
                        <span class="glyphicons glyphicons-parents"></span> Personas
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "GenEstudiante", new {Area = "General"})">
                        <span class="glyphicons glyphicons-parents"></span> Estudiantes
                    </a>
                </li>
            </ul>

        </li>


        <li class="sidebar-label pt20">Parámetros generales</li>
        <li>
            <a class="accordion-toggle Tniveles Tgrados Tjornadas Tlistas" href="#">
                <span class="glyphicons glyphicons-cogwheel"></span>
                <span class="sidebar-title">Configuración educativa</span>
                <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
                <li>
                    <a href="@Url.Action("Index", "Tniveles", new {Area = "ADMIN"})">
                        <span class="glyphicons glyphicons-show_lines"></span> Niveles académicos
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Tgrados", new {Area = "ADMIN"})">
                        <span class="glyphicons glyphicons-show_thumbnails_with_lines"></span> Grados
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Tjornadas", new {Area = "ADMIN"})">
                        <span class="glyphicons glyphicons-sun"></span> Jornadas
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Tlistas", new {Area = "ADMIN"})">
                        <span class="glyphicons glyphicons-google_maps"></span> Departamentos
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Tlistas", new {Area = "ADMIN"})">
                        <span class="glyphicons glyphicons-google_maps"></span> Municipios
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Tetnia", new {Area = "ADMIN"})">
                        <span class="glyphicons glyphicons-google_maps"></span> Tipos de étnias
                    </a>
                </li>
            </ul>

        </li>
    //}
}    

</ul>
<div class="sidebar-toggle-mini">
    <a href="#">
        <span class="fa fa-sign-out"></span>
    </a>
</div>